*.pyc
*~
*multiutil*
*analysis*
*surveyreal*
*/cw*
*postprocessing/postprocessing.py*
*install.sh*
*.ipynb*
*spyderworkspace
*clusterbuster_outsourced
*clusterbuster.egg*
*.gitignore*
*dist
*build/lib*
*multiut.py
*xrayanalysis.py
